/*
*= require custom-bootstrap
*= require datepicker
*/

@brand-primary: darken(#428bca, 6.5%); // #337ab7
@state-danger-text: #a94442;

#main {
  width: 1170px;
}

.page-header {
  margin-top: 0;

  h1 {
    display: inline-block;
  }

  a.header-link {
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  .user-info {
    margin-top: 20px;
  }
}

#loginForm {
  max-width: 300px;
  padding: 15px;
}

#emailModal {
  input[type=text],
  textarea {
    margin: 0;
    width: 100%;
    max-width: 100%;
    border-radius: 0;
    box-shadow: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
  }
}

.content-menu {
  .pagination, .pager, .breadcrumb {
    margin: 0;
  }

  &.top {
    margin-top: 10px;

    margin-bottom: 20px;
    padding-bottom: 20px;

    border-bottom: 1px solid #eeeeee;
  }

  &.bottom {
    margin-bottom: 10px;

    margin-top: 20px;
    padding-top: 20px;

    border-top: 1px solid #eeeeee;
  }
}

.form-horizontal {
  .form-group-nested {
    margin-bottom: 0;
  }

  div.control-label {
    text-align: left;
  }

  .form-control-listing {
    .form-group {
      margin-bottom: 5px;
    }

    .row {
      min-height: 40px;
    }

    .statistics {
      min-height: 0;
      text-align: center;
      font-style: italic;
    }
  }
}

.form-control-small,
.form-control-medium {
  display: inline-block;
}

input {
  &.form-control-small {
    max-width: 63px;
    padding: 5px;
  }
  &.form-control-medium {
    max-width: 120px;
  }
}

select {
  &.form-control-small {
    max-width: 90px;
  }
}

textarea.form-control {
  line-height: 1;
}

.btn-link,
a {
  &:hover,
  &:focus {
    &.add,
    &.sort {
      text-decoration: none;
    }
  }
}

.panel-title {
  font-size: inherit;
}

.required {
  color: red;
}

table {
  ol,
  ul {
    margin: 0;
  }

  &.table {
    &.table-condensed {
      thead {
        tr {
          th {
            white-space: nowrap;
            padding-right: 20px;
          }
        }
      }
    }

    input[type='checkbox'],
    input[type='radio'] {
      margin: 4px 10px 4px 20px;
      vertical-align: top;
    }
  }

  &.table-click,
  &.checkbox-click {
    tbody {
      tr {
        cursor: pointer;
        td {
          &.column-checkbox {
            width: 70px;
          }
        }
      }
    }
  }

  .list-group {
    margin-bottom: 0;
  }
  .list-group-item {
    padding: 5px 10px;
  }
}

.modal {
  .modal-body {
    padding: 0;
  }

  table {
    margin: 0;
  }
}

.help-block {
  margin-bottom: 0;

  &.important {
    color: #a94442;
  }
}

.message {
  margin-left: 20px;
  margin-top: 5px;
}

div {
  .help-block {
    display: inline-block;
    margin-bottom: 7px;
    margin-top: 7px;
  }

  &.panel .help-block {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

label.btn {
  > input[type="radio"],
  > input[type="checkbox"] {
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
  }
}

#print {
  > .row {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.badge {
  background-color: @brand-primary;
}

.digital-material-status {
  &.current {
    color: @brand-primary;

    &.fail {
      color: @state-danger-text;
    }

    .status-name {
      font-weight: bold;
    }
  }

  .message {
    clear: both;

    label {
      float: left;
      margin-right: 15px;
    }
  }
}

@media print {
  // Don't show links when printing a page.
  a {
    &:after {
      content: normal !important;
    }
  }

  // Make sure that the column of the printable area takes all available space.
  // However, remove ~10% to make sure it still fits on the printable page.
  .print-col {
    width: 90% !important;
  }
}